.list_container {
  height: 100%;
  margin-top: 70px;
  display: flex;
  justify-content: flex-start;
}

.list_books {
  display: grid;
  grid-template-columns: repeat(10, minmax(100px, 1fr));
  grid-gap: 40px;
  padding-left: 20px;
  width: 80%;
  text-align: center;
}

.list_title {
  margin-left: 25px;
  font-size: 25px;
}