.search_line {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.search_input {
  border: 0;
  border-bottom: 1px solid #dddddd;
  width: 300px;
  padding: 20px;
  display: block;
  transition: border 0.3s;
}

.search_input:focus {
  outline: none;
  border-bottom: 1px solid ;
}

.search_box {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(5, minmax(30px, 1fr));
  grid-gap: 40px;
  margin-right: 40px;
}

li {
  list-style-type: none;
  border: 1px solid #dddddd;
  padding: 10px;
}