@import 'https://fonts.googleapis.com/css2?family=Fugaz+One&family=Righteous&display=swap';


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,li {
  list-style: none;
 margin:0;
 padding:0;
}

a:link { color: rgb(3, 3, 3); text-decoration: none; }
a:visited { color: rgb(2, 2, 2); text-decoration: none; }
a:hover { color: #06AD3D; text-decoration: none; }
a:active { color: #06AD3D;; text-decoration: none;}
